@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@100;200;400&display=swap");
@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

#duedate::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="39" viewBox="0 0 24 24"><path fill="black" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  font-size: 0.9rem;
}
.paperWindow{
  overflow-y: scroll;
  scrollbar-width: none;
}
.paperWindow::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.w-custom{
  width: 100px!important;
}